<configuration>
  <appSettings>
    <add key="rabbitMQHost" value="rabbitmq://172.17.0.2"/>
    <add key="rabbitMQHostUser" value="guest"/>
    <add key="rabbitMQHostPassword" value="guest"/>
    <add key="rabbitMQCommandQueue" value="rabbitmq://172.17.0.2/domain_input"/>
  </appSettings>

  <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
