<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <connectionStrings>
    <add name="Subscription" connectionString="Data Source=(local);Initial Catalog=chatdemo;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <serviceBus>
    <messageRoutes>
      <messageRoute uri="msmq://./chat-server">
        <add specification="StartsWith" value="Chat.Messages" />
      </messageRoute>
      </messageRoutes>
    <inbox workQueueUri="msmq://./chat-client2" errorQueueUri="msmq://./chat2-error" />
  </serviceBus>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>  
</configuration>