<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="Subscription" connectionString="Data Source=(local);Initial Catalog=chatdemo;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup> 
</configuration>