<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb"/>
  </configSections>

  <connectionStrings>
    <add name="Subscription"
			 connectionString="Data Source=(local);Initial Catalog=chatdemo;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <serviceBus>
    <inbox
     workQueueUri="msmq://./chat-server"
     errorQueueUri="msmq://./chat-error" />
  </serviceBus>
</configuration>